configuration {
  location: 2;
  disable-history: true;
  font: "hack 9";
  hide-scrollbar: true;
  line-padding: 2;
  lines: 10;
  modi: "combi,drun,run,window";
  padding: 20;
  separator-style: "solid";
  show-icons: true;
  show-match: true;
  terminal: "alacritty";
  width: 30;
}

@theme "./custom-nord.rasi"
