# Ignored files
tags
.env
*.tags
.smithrc
npm-debug.log
*.beam
*.vimfuzzyfinder
tmuxinator/.tmuxinator/working.yml

# Ignore directories
tmp
node_modules
bundle
*/.vim/swap
*/.vim/undo
*/.vim/bakup
.netrwhist

# Ignore asdf local package version
.tool-versions

# Haskell/stack compiler output
.stack-work
