# Ignored files
*.beam
*.tags
*.vimfuzzyfinder
.env
.envrc
.smithrc
.uuid
npm-debug.log
tags
tags.*

# Ignore directories
*/.vim/bakup
*/.vim/swap
*/.vim/undo
.netrwhist
bundle
node_modules
tmp

# Ignore asdf local package version
.tool-versions

# Haskell/stack compiler output
.stack-work

# bakup directory
bakup
